.head-content
{
margin: 20px 0;
display: flex;
background-color: rgb(252, 252, 252);
margin-left: 100px;
align-items: center;

}

.header-text
{
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.header-text span:nth-child(1)
{
    color: #008cff;
    font-weight: bolder;
}
.header-text span:nth-child(2)
{
    color: black;
    font-weight: bold;
}

body
{
    margin: 0 ;
}
